googledrivedownloader==0.4
torch==1.5.1
torchnet==0.0.4
torchvision==0.6.1
nibabel==3.0.2
SimpleITK==1.2.4
tqdm==4.48.2
numpy==1.18.5
pandas==0.25.3
scipy==1.4.1
pydensecrf==1.0rc3
pyradiomics==3.0
scikit-image==0.15.0
dicom2nifti==2.2.10